<div class="container mb-2" style="display: flex; justify-content: space-between; align-items: center;">
  <div style="display: flex; align-items: center; font-size: 25px; font-weight: 700;">▌{{trip.name}}
    <div class="badge ms-2 text-light" style="font-size: 12px; font-weight: 300; background-color: #444444;">
      {{formatDate trip.startDate}}-{{formatDate trip.endDate}}</div>
  </div>
  <div>
    <a class="btn btn-outline-secondary" href="/collaborate?trip={{trip.id}}" style="margin-left: 5px; border-radius: 100px;"><i
        class="fa-solid fa-right-from-bracket fa-rotate-180"></i></a>
  </div>
</div>

{{#if trip.Receivers.length}}
<div class="mt-5 ms-3" style="font-weight: 300;"><i class="fa-solid fa-user-large"></i> CO-EDITORS</div>
  {{#each trip.Receivers}}
  <div class="mt-4 ms-3" style="width: 100px; display: inline-block;">
    <img src="{{this.image}}" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;">
    <div class="mt-1" style="text-align: center; font-size: 20px; font-weight: 600;">{{this.name}}</div>
    <form action="/collaborate" method="POST" style="display: flex; justify-content: center;">
      <input type="hidden" name="tripId" value="{{trip.id}}">
      <input type="hidden" name="sharedUserId" value="{{searchUser.id}}">
      <button class="btn btn-outline-danger" style="font-size: 13px;">移除共編</button>
    </form>
  </div>
  {{/each}}
{{else}}
<div class="mt-4 ms-5" style="height: 350px; margin: auto; font-size: 20px; font-weight: 600;">此旅程尚未有共編者
</div>
{{/if}}