<!-- Trip title -->
<div class="container mb-2" style="display: flex; justify-content: space-between; align-items: center;">
  <div style="display: flex; align-items: center; font-size: 25px; font-weight: 700;">▌{{trip.name}}
    <div class="badge ms-2 text-light" style="font-size: 12px; font-weight: 300; background-color: #444444;">{{formatDate trip.startDate}}-{{formatDate trip.endDate}}</div>
  </div>
  <div>
    <a id="add-button" href="/destinations/create?trip={{trip.id}}" class="btn btn-lg"
      style="background-color: #0077b6; color: white; font-size: 18px; font-weight: 300; border-radius: 100px;">ADD <i
        class="fa-solid fa-circle-plus"></i></a>
    <a class="btn btn-outline-secondary" href="/trips" style="margin-left: 5px; border-radius: 100px;"><i
        class="fa-solid fa-right-from-bracket fa-rotate-180"></i></a>
  </div>
</div>

<!-- 共編群 -->
<div class="d-flex justify-content-start mb-4 align-items-center">
  {{#each trip.Sharers}}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p style="font-size: 12px;">Owner</p>
  <img src="{{this.image}}" style="width: 35px; height: 35px; object-fit: cover; border-radius: 50%; margin-left: 5px;"
    data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{this.name}}">
  {{/each}}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p style="font-size: 12px;">Co-editor</p>
  {{#each trip.Receivers}}
  <img src="{{this.image}}" style="width: 35px; height: 35px; object-fit: cover; border-radius: 50%; margin-left: 5px;"
    data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{this.name}}">
  {{/each}}
  {{#ifCond trip.userId user.id}}
  <a href="/collaborate?trip={{trip.id}}" class="ms-2"><i class="fa-solid fa-circle-plus"></i></a>
  {{/ifCond}}
</div>


{{>messages}}

<!-- 天數tabs -->
<div class="container">
  <ul class="nav nav-tabs" style="width: 85%; margin: auto;">
    {{#each days}}
    <li class="nav-item">
      <a class="nav-link {{#ifCond ../currentDay this}}active{{/ifCond}}" aria-current="page" href="/trips/{{../trip.id}}?day={{this}}">Day {{this}}</a>
    </li>
    {{/each}}
  </ul>
</div>

<!-- Destinations -->
<div class="container">
  {{#if destinations}}
    {{#each destinations}}
    <div class="card mt-3" style="width: 70%; margin: auto;">
      <div class="card-body row" style="align-items: center;">
        <img class="col-md-3" src="{{#if this.image}}{{this.image}}{{else}}/images/location-fallback-city.svg{{/if}}"
          style="height: 70%; object-fit: cover;">
        <div class="location-content col-md-2" style="margin: auto 20px;">
          <div style="font-weight: 400; font-size: 15px;">{{formatTime this.startTime}} ~ {{formatTime this.endTime}}</div>
          <div style="font-weight: 800; font-size: 20px;">{{this.name}}</div>
        </div>
        <div class="col-md-5" style="font-weight: 200; font-size: 15px;">
          {{this.description}}
        </div>
        <div class="col-md-1">
          <a id="detail-button" href="/destinations/{{this.id}}" class="btn"
            style="background-color: #ffd166; color: white; border-radius: 100px; margin-bottom: 5px;"><i
              class="fa-solid fa-suitcase-rolling"></i></a>
          <form action="/destinations/{{this.id}}?_method=DELETE" method="POST">
            <button class="btn btn-outline-secondary" style="border-radius: 100px;" onclick="return confirm('Are you certain you want to delete [ {{this.name}} ] ?')"><i class="fa-solid fa-trash-can fa-sm"></i></button>
          </form>
        </div>
      </div>
    </div>
    {{/each}}
  {{else}}
  <div class="container d-flex content-justify-center">
    <div class="mt-4" style="margin: auto; font-size: 20px; font-weight: 600;">尚未有內容，馬上開始旅程計畫吧～
    </div>
  </div>
  {{/if}}
</div>